@model PizzaViewModel

<h2>Details for @Model.Name</h2>
<h2>Price: @Model.Price</h2>
<h2>Has Extras: @Model.HasExtras</h2>
<h2>Pizza Size: @Model.PizzaSize</h2>
<h2>Promotion: @Model.IsOnPromotion</h2>